    /* Light theme */
@media (prefers-color-scheme: light) { 
    :root { --text: #101520; --background: #f5f5f5; --lines: #cccccc; --op: 0.7; --button: #D9D9D9; } 
}

    /* Dark theme */
@media (prefers-color-scheme: dark) { 
    :root { --text: #f5f5f5; --background: #000000; --lines: #202020; --op: 0.3; --button: #0A0A0A; } 
}

    /* Root colors for season */
:root {
    --line-winter: linear-gradient(to right, #00aaffb3, #0066ffb3);
    --line-autumn: linear-gradient(to right, #ffff00b3, #ffaa00b3);
    --line-spring: linear-gradient(to right, #00ff66b3, #00ff00b3);
    --line-summer: linear-gradient(to right, #ff6600b3, #ff0000b3);
    --line-newyear: linear-gradient(to right, #ff0000b3 3%, #ffaa00b3 27%, #00ff00b3 65%, #0066ffb3 100%);

    --ui-winter: #007aff;
    --ui-autumn: #ff7a00;
    --ui-spring: #00ff33;
    --ui-summer: #ff0000;
    --ui-newyear: #00ff33;
}