/* iclude fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --line-general: linear-gradient(90deg, rgba(0, 0, 255, 0.56) 0%, rgba(0, 255, 0, 0.64) 23.74%, rgba(255, 0, 0, 0.56) 58.09%, rgba(255, 255, 0, 0.64) 82.98%, rgba(0, 0, 255, 0.56) 100%);
    
    --line-winter:  linear-gradient(to right, #00aaffb3, #0066ffb3);
    --line-autumn:  linear-gradient(to right, #ffff00b3, #ffaa00b3);
    --line-spring:  linear-gradient(to right, #00ff66b3, #00ff00b3);
    --line-summer:  linear-gradient(to right, #ff6600b3, #ff0000b3);
    --line-newyear: linear-gradient(to right, #ff0000b3 3%, #ffaa00b3 27%, #00ff00b3 65%, #0066ffb3 100%);
    --UI-winter:    #007aff33;
    --UI-autumn:    #ff7a0033;
    --UI-spring:    #00ff3333;
    --UI-summer:    #ff000033;
    --UI-newyear:   #ff00ff33;

    --line-night:   linear-gradient(to right, #640096b3, #7B00B9b3);
    --line-sunrise: linear-gradient(to right, #AEAE00b3, #D0D000b3);
    --line-day:     linear-gradient(to right, #1189AFb3, #1D9FC8b3);
    --line-evening: linear-gradient(to right, #A0AE00b3, #D0AF00b3);
    --line-sunset:  linear-gradient(to right, #CD5600b3, #FF7A00b3);
    --UI-night:     #AA00FF33;
    --UI-sunrise:   #FFFF0033;
    --UI-day:       #1D9FC8cc;
    --UI-evening:   #FFFF0088;
    --UI-sunset:    #DA710Fcc;
    --UI-night-b:   #000000;
    --UI-sunrise-b: #87D0E7;
    --UI-day-b:     #F5F5F5;
    --UI-evening-b: #CDDDF5;
    --UI-sunset-b:  #651048;
}

/* scrollbar disable only to Chrome users */
::-webkit-scrollbar { width: 0px; height: 0px; }

* {
    margin: 0;
    transition: 700ms all;
    font-family: 'Montserrat';
    word-break: keep-all;
    letter-spacing: 0.05em;
    cursor: default;
    color: var(--text-color);
    user-select: none;
}

html, body { background: var(--bg-color); }

/* PC frame support */
@media (max-width: 540px) {
    .pageble { width: 100vw; }
    .page { width: 100vw; }
    .weekPer, .dayPer, .hourPer, .minutePer, .secondPer, .countGenPer { width: calc(100vw - 48px - 36px); }
}
@media (min-width: 541px) {
    .pageble { width: 100vw; display: flex; justify-content: center; }
    .page { width: 440px; }
    .max-modal { width: 440px !important; }
    .full-max-modal { width: 392px !important; }
    .weekPer, .dayPer, .hourPer, .minutePer, .secondPer, .countGenPer { width: calc(440px - 48px - 36px); }
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, b::selection, td::selection, div::selection, svg::selection, li::selection, img::selection, button::selection, br::selection, input::selection, label::selection, span::selection, iframe::selection, small::selection { background-color: var(--icon-color); color: var(--text-color-active); }
h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, b::-moz-selection, td::-moz-selection, div::-moz-selection, svg::-moz-selection, li::-moz-selection, img::-moz-selection, button::-moz-selection, br::-moz-selection, input::-moz-selection, label::-moz-selection, span::-moz-selection, iframe::-moz-selection, small::-moz-selection { background-color: var(--icon-color); color: var(--text-color-active); }
button { background-color: var(--con-color); border: 0; cursor: pointer; border-radius: 24px; font-size: 17px; padding: 8px 18px; }
button:hover { background-color: var(--con-color-hover) !important; cursor: pointer; }
button:active { background-color: var(--con-color-active) !important; cursor: pointer; }

.bold { font-weight: 600 !important; letter-spacing: 0.1em !important; }
.clickable:hover { cursor: pointer; }
.clickable:active { cursor: pointer; color: var(--text-color-active) !important; }
.page, .pageble { min-height: 100vh; background-attachment: fixed; }
.content { padding: 24px; }

/* UI elements */
.header { z-index: 3; width: 100%; display: flex; flex-direction: column; align-items: center; }
.hdr { height: 68px; width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; }

.modal, .max-modal, .full-modal, .full-max-modal { transition: 300ms all; }

.blockGeneral { 
    height: 138px;
    background: var(--con-color);
    border-radius: 24px;
    padding: 18px;
}
.lineGeneral {
    height: 48px;
    width: 100%;
    background: var(--line-general);
    border-radius: 100px;
    overflow: hidden;
    opacity: 0;
}

.countersContainer {
    border-radius: 24px;
    overflow: hidden;
}

.conHA{ background: var(--con-color); cursor: pointer; display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; background: var(--con-color); padding: 18px; }
.conHA:hover { background: var(--con-color-hover) !important; cursor: pointer; }
.conHA:active { background: var(--con-color-active) !important; cursor: pointer; }

.countGenCon { 
    background: var(--con-color);
    border-radius: 24px;
    padding: 18px;
    height: 84px;
}

.countAddCon { 
    background: var(--con-color);
    border-radius: 24px;
    padding: 18px;
    height: 192px;
}

.countLine {
    height: 48px;
    width: 100%;
    background: var(--line-general-color);
    border-radius: 100px;
    overflow: hidden;
    display: flex; 
    align-items: center; 
}

.countInfo {
    background: var(--con-color);
    border-radius: 24px;
    overflow: hidden;
}

.weekBlock, .dayBlock, .hourBlock, .minuteBlock, .secondBlock {
    height: 24px;
    width: 100%;
    border-radius: 100px;
    overflow: hidden;
    display: flex !important;
    align-items: center;
    background: var(--line-general-color);
}

.weekLine, .dayLine, .hourLine, .minuteLine, .secondLine {
    width: 0px;
    height: 24px;
    border-radius: 100px; 
    transition-timing-function: cubic-bezier(0,0,.38,1.12);
}

.weekPer, .dayPer, .hourPer, .minutePer, .secondPer {
    position: absolute;
    font-size: 18px;
    text-align: center;
    margin: 0;
}